[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
factory-boy = "*"
pylint = "*"
flake8 = "*"
coveralls = "*"
pytest-django = "*"
v = {editable = true,version = "*"}
coreapi-cli = "*"
yapf = "*"

[packages]
django = "*"
djangorestframework = "*"
dj-database-url = "*"
python-decouple = "*"
psycopg2 = "*"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
django-filter = "*"

[requires]
python_version = "3.6"

[scripts]
start = "python manage.py runserver"
test = "python manage.py test"
