[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
factory-boy = "*"
pylint = "*"
flake8 = "*"

[packages]
django = "*"
djangorestframework = "*"
dj-database-url = "*"
python-decouple = "*"
psycopg2 = "*"
pytest-cov = "*"
pytest-django = "*"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"

[requires]
python_version = "3.6"
